# Each script that needs to use the environment variables should have a env file with the same name as the script
# For example, if you have a script called `train.sh`, you should create a file called `train.env`.
